#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /* margin-top: 60px; */
}
*{
  margin: 0;
  padding: 0;
}

#clock {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  position: absolute;
  height: 20px;
  width: 150px;
  bottom: 25%;
  left: 0%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  /* width: 100%; */
  /* height: 100%; */
  background: black;
  border: white solid 1px;
  /* z-index: -1; */
}

#score {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  position: absolute;
  height: 200px;
  width: 450px;
  bottom: 0%;
  /* top: 5%; */
  /* right: 0%; */
  left: 0%;
  text-align: center;
  overflow-y:auto;
  padding-top: 15px;
  padding-bottom: 15px;
  /* width: 100%; */
  /* height: 100%; */
  background: black;
  border: white solid 1px;
  /* z-index: -1; */
}

#score p {

}